<!DOCTYPE html>
<html lang="PT">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>ViajaNet</title>
</head>

<body>
  <div>
    <fieldset>
      <form class>
          <strong class="title">Encontre os melhores preços e boa viagem!</strong>
          <label>
              <input type="radio">
              <span>Ida e Volta</span>
          </label>
          <label id="lblOrigem">
              <input type="text" id="txtOrigem">
              <span id="spanOrigem">Origem</span>
          </label>

          <label id="lblDestino"> 
              <input type="text" id="txtDestino">
              <span id="spanDestino">Destino</span>
          </label>

          <label>
              <input type="date">
              <span>Data da ida</span>
          </label>

          <label>
              <input type="date">
              <span>Data da Volta</span>
          </label>

          <label>
              <span>Adultos</span>
              <select name="" id="">
                <option selected hidden>Selecione</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>6</option>
                <option>7</option>
                <option>8</option>
                <option>9</option>
              </select>
          </label>

          <label>
              <span>Crianças</span>
              <select name="" id="">
                <option selected hidden>Selecione</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>6</option>
                <option>7</option>
                <option>8</option>
                <option>9</option>
              </select>
          </label>

          <label>
              <span>Bebês</span>
              <select name="" id="">
                <option selected hidden>Selecione</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>6</option>
                <option>7</option>
                <option>8</option>
                <option>9</option>
              </select>
          </label>

          <label>
              <span>Pesquisar</span>
              <button type="submit">
                Pesquisar
              </button>
          </label>


      </form>
    </fieldset>
  </div>
</body>

</html>
