<!DOCTYPE html>
<html lang="PT">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <title>ViajaNet</title>
</head>

<body>
  <div id="background">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="content-center">
            <div class="passagens">
              <span>Passagens Aéreas</span>
            </div>
            <div class="square">
              <div class="container">
                <fieldset>
                  <form class='form-column'>
                    <strong class="search-title">Encontre os melhores preços e boa viagem!</strong> <br>
                    <div class="space">
                      <div>
                        <input id="rdOpcao" type="radio" [checked]="true">
                        <span>Ida e Volta</span>
                      </div>
                      <img src="../../../assets/img/econometro.png" alt="" srcset="" class="econometro">
                    </div>
                    <div class="content">
                      <div class="group-location">
                        <div class="divOrigem">
                          <span>Informe sua origem</span>
                          <input type="text" id="origem" #origem placeholder="Cidade ou aeroporto" (keyup)="fnBuscaLocalOrigem(origem.value)">
                          <div class="divListOrigem">
                            <div *ngFor="let local of localidadesOrigem" class="content-list">
                              <div id="location" [attr.value]="local" (click)="addLocation(local)" class="list">{{local}}</div>
                            </div>
                          </div>
                        </div>

                        <div class="divDestino">
                          <span>Informe seu Destino</span>
                          <input type="text" id="" #destino placeholder="Cidade ou aeroporto" (keyup)="fnBuscaLocalDestino(destino.value)">
                          <div class="divListDestino">
                            <div *ngFor="let local of localidadesDestino" class="content-list">
                              <div class="list">{{local}}</div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div id="group-row">
                        <div class="group-date">
                          <label>
                            <span>Data da Ida</span>

                            <div class="divDataIda">
                              <input [disabled]="isDisabled" matInput [matDatepicker]="picker">
                              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                              <mat-datepicker #picker></mat-datepicker>
                            </div>
                          </label>

                          <label>
                            <span>Data da Volta</span>
                            <div class="divDataVolta">
                              <input matInput [matDatepicker]="picker2">
                              <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                              <mat-datepicker #picker2></mat-datepicker>
                            </div>
                          </label>
                        </div>
                        <div class="direction-row filter">
                          <label>
                            <span>Adultos</span>
                            <select name="" id="">
                              <option value="1">1 Adulto</option>
                              <option *ngFor="let adulto of listaAdultos" value="adulto" [selected]="0">{{adulto}}
                                Adulto(s)</option>
                            </select>
                          </label>

                          <label>
                            <span>Crianças</span>
                            <select name="" id="">
                              <option value="0" selected>Nenhuma</option>
                              <option value="1">1 criança</option>
                              <option *ngFor="let crianca of listaCriancas" value="crianca">{{crianca}} criança(s)</option>
                            </select>
                          </label>

                          <label>
                            <span>Bebês</span>
                            <select name="" id="">
                              <option value="0" selected>Nenhuma</option>
                              <option value="1">1 bebê</option>
                              <option *ngFor="let bebes of listaBebes" value="bebes" [selected]="0">{{bebes}} bebê(s)</option>
                            </select>
                          </label>
                        </div>
                      </div>

                    </div>

                  </form>
                </fieldset>
              </div>
            </div>
            <button type="submit" class="btn-search" (click)="Pesquisar()">
              Pesquisar
            </button>
          </div>

        </div>

      </div>

    </div>
  </div>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>

</html>
